/* == Generic styles == */
body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
}
section {
    box-sizing: border-box;
    padding: 15px 10px 0;
}
section p {
    margin: 0;
}
/* == Header styles == */
/* -- Nav content -- */
nav li {
    display: inline-block;
}
/* == Container styles == */
.container {
    width: 100%;
}
.content, .sidebar {
    float: left;
    width: 70%;
}
/* -- Sidebar content -- */
.sidebar {
    width: 30%;
}
/* == Footer styles == */
footer {
    clear: both;
}