/* == Generic styles == */
body {
    font-family: "opensans-regular", sans-serif;
    font-size: 1em;
    font-weight: normal;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #000;
    background: #fff;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
section {
    box-sizing: border-box;
    padding: 15px 10px 0;
}
section p {
    margin: 0;
}
/* == Header styles == */
/* -- Nav content -- */
header {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 15px;
    background: #ddd;
}
nav li {
    display: inline-block;
    padding: 0 5px;
}
nav a {
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}
button {
    font-family: "opensans-regular", sans-serif;
    font-size: 1em;
    font-weight: 600;
    position: absolute;
    right: 5%;
    bottom: 32%;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    background: transparent;
}
/* == Container styles == */
.container {
    width: 100%;
}
/* -- Content section -- */
.content {
    float: left;
    width: 70%;
    transition: all .5s ease-in-out;
}
.fullWidth {
    width: 100%;
}
.content li {
    float: left;
    width: 30%;
    padding: 10px;
}
.content img.img-box {
    width: 100%;
    height: auto;
}
.content h2 {
    font-family: georgia, arial, sans-serif;
    font-weight: 300;
    margin: 10px 0;
    color: #666;
}
.content p {
    line-height: 1.25;
    color: #777;
}
/* -- Sidebar content -- */
.sidebar {
    float: left;
    width: 30%;
}
/* == Footer styles == */
footer {
    clear: both;
}

/* == Device styles == */
/* -- Tablet -- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .content li {
        width: 46%;
        min-height: 300px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .content li {
        min-height: 245px;
    }
}
/* -- Mobile -- */
@media only screen and (max-width: 767px) {
    body {
        font-size: .8em;
    }
    button {
        bottom: 38%;
    }
    .content li {
        display: block;
        box-sizing: border-box;
        width: 100%;
    }
    .content img.img-box {
        float: left;
        width: 50%;
        padding-right: 20px;
    }
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
    .content li {
        float: none;
    }
    .content img.img-box {
        float: none;
        width: 100%;
        padding-right: 0;
    }
}